.input_con {
    display       : flex;
    flex-direction: column;
    align-items   : start;
    font-size     : 16px;
    gap           : 5px;
}

.label {
    font-size  : 14px;
    font-weight: bold;
}

.input_field {
    color          : black;
    border-radius  : 6px;
    border         : none;
    outline        : none;
    background     : white;
    padding        : none;
    padding        : 6px 20px;
    font-size      : 18px;
    border         : solid 1px black;
    height         : 20px;
    display        : flex;
    flex-direction : row;
    justify-content: start;
    gap            : 20px;
    width          : 50vw;
    font-weight    : bold;
}

.previousval {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    gap            : 3px;

}

.prevalues {
    background-color: #134d0a;
    padding         : 2px 4px;
    border-radius   : 4px;
    color           : white;
    font-size       : 12px;
    font-weight     : bold;
    display         : flex;
    justify-content : center;

}

.input_error {
    columns  : rgb(255, 0, 0);
    font-size: 12px;
}

.inscan_modal {
    position        : fixed;
    top             : 20%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    color           : black;
    padding         : 20px 30px;
    border-radius   : 4px;
    z-index         : 1000;
    box-shadow      : 0px 4px 4px 0px rgb(98, 98, 98);
    font-size       : 12px;
    background-color: #F5F7FA;
    width           : 30vw;
    align-items     : center;
    padding         : 30px;
    margin-top      : 20px;
    display         : flex;
    flex-direction  : column;
    align-items     : start;
    justify-content : space-between;
}

.modal {
    width: 100px;
}
.inscan_modal input {
    font-size: 14px;
    width : 80%;
    }
.inscan_modal label {
    margin-top: 20px;
}

.radio {
    display: flex;
    gap : 5px;
    align-items: center;
    justify-content: center;
}
.inscan_modal .but {
    margin-top: 10px;
}