.button {
    padding      : 10px 20px;
    text-align   : center;
    border-radius: 10px;
    border : 1px solid #134d0a;
    transition: ease 500ms;
    background: none;
}

.button:hover {
    background-color: #134d0a;
    color           : white;
}