
.spinner
{
    border: 4px solid #F5F7FA;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border-left: 4px solid #134d0a;
    animation: spin 1s linear infinite;
    text-align: center;
    align-items: center;

}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

.spinner_con
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}