.quickmenu_con {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    font-size       : 14px;
    padding         : 5px 30px;
    background-color: white;
    box-shadow      : 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight     : bold;
    align-items     : center;
}

.quickmenu_left {
    display        : flex;
    flex-direction : row;
    gap            : 40px;
    justify-content: space-between;
    align-items    : center;
}

.quickmenu_right {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.quickmenu_items {
    cursor   : pointer;
    animation: 500ms ease linear;
}

.quickmenu_items:hover {
    background-color: #134d0a;
    color           : #F7FBFF;
    padding         : 6px 10px;
    border-radius   : 6px;
}

.quickmenu_dropdown-content {
    display         : none;
    padding         : 20px 10px;
    cursor          : pointer;
    position        : absolute;
    background-color: #134d0a;
    min-width       : 160px;
    box-shadow      : 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index         : 1;
    border-radius   : 4px;
}

.quickmenu_dropdown-item {
    margin-bottom: 1rem;
}
.quickmenu_dropdown-item:hover {
background-color: #F7FBFF;
color: #134d0a;
padding: 6px 10px;

}

.quickmenu_dropdown {
    position: relative;
    display : inline-block;
}

.quickmenu_dropdown:hover {
    background-color: #134d0a;
    color           : #F7FBFF;
    border-radius: 6px;
}
.quickmenu_dropdown:hover .quickmenu_items
{
        padding : 6px 10px;
}
.quickmenu_dropdown:hover .quickmenu_dropdown-content {
    display: block;
}